.back-button-mr {
  margin-right: 60px !important;
}

.submit-button-mr {
  margin-right: 20rem !important;
}

.form-card-width {
  width: 95rem !important;
}

.preview-card-width {
  width: 90rem !important;
}
